@use "../../common";

#loadingModal {
  background: rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
}

.quillEditor {
  :global {
    .ql-container {
      min-height: 10em;
      max-height: 50em;
      overflow: scroll;
    }

    .ql-container::-webkit-scrollbar-thumb {
      background-color: rgb(160, 160, 160);
    }
  }
}
