.payNowBtn {
  background: linear-gradient(263.33deg, #1c69ff 8.18%, #002f8a 88.77%);
  box-shadow: 0px 0px 15px rgb(28 105 255 / 50%);
  border-radius: 8px;
  font-family: var(--font-tomorrow);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  padding: 5px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  height: auto;
  margin-top: 15px;
}
