@use "../../src/common";

.aboutBanner {
  padding: 50px 0 0;
}

.aboutBanner .aboutBanner__bg img {
  position: absolute;
  left: 0;
  top: 0;
}

.aboutBanner .aboutBanner__container {
  position: relative;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

.aboutBanner .aboutBanner__header {
  text-align: center;
  margin-bottom: 20px;
}

.text.text--displaySmall {
  font-size: 4em;
  font-weight: 700;
}
.audiowide {
  font-family: var(--font-audiowide);
}

.colouredText,
.sectionHeader {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-color: var(--brand-primary);
}

.text.text--h4 {
  font-size: 1.5em;
  font-weight: 700;
  font-family: var(--font-arvo);
  color: black;
}

.aboutBanner .aboutaBanner__paragraph {
  text-align: center;
  font-weight: 400;
  max-width: 800px;
  margin: 0 auto;
}

.quote {
  padding: 80px 0;
  margin: 100px 0 50px;
  background-color: var(--brand-background);
}

.quote .quote__text {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.text.text--h5 {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: var(--font-arvo);
}

.ourStory {
  padding: 45px 0;
}

.text.text--h1 {
  font-size: 3rem;
  font-weight: 700;
}

.audiowide {
  font-family: var(--font-audiowide);
}
.sectionHeader {
  text-align: center;
  margin-bottom: 50px;
}

.ourStory .ourStory__body {
  display: flex;
  align-items: center;
  gap: 50px;
}

.ourStory .ourStory__info {
  width: 60%;
  color: black;
}

.ourStory .ourStory__paragraph {
  margin-bottom: 20px;
}

.text.text--medium {
  font-size: 1.1875rem;
  font-weight: 400;
  font-family: var(--font-arvo);
}

.ourStory .ourStory__imageDiv {
  flex: 1 1;
  border-radius: 20px;
  height: auto;
  overflow: hidden;
}

.ourStory .ourStory__imageDiv img {
  object-fit: cover;
  max-width: 100%;
}

.partners {
  padding: 45px 0;
}

.partners .partners__header {
  text-align: center;
  margin-bottom: 50px;
}

.partners .partners__grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.partners .partners__grid img {
  max-width: 200px;
}

.aboutText h1,
.aboutText h3 {
  width: 90%;
  margin: auto;
  font-family: var(--font-freename);
  font-weight: 300;
  background-image: linear-gradient(78.13deg, #000d39 -1.52%, #000000 95.49%);
  color: #f5f5f5;
}
.aboutText p {
  width: 90%;
  margin: auto;
  font-family: var(--font-tomorrow);
  font-weight: 300;
  color: #f5f5f5;
}

@media screen and (max-width: 1023px) {
  .ourStory .ourStory__body {
    flex-direction: column-reverse;
  }
  .ourStory .ourStory__info {
    width: 100%;
  }
  .ourStory .ourStory__imageDiv {
    width: 100%;
    max-width: 500px;
  }
}
